
<div class="card" id="card1">
    <div class="card-body">
      <div id="nam">
        <input type="name" id="name" placeholder="Username">
        <br>
        </div>
        <div id="passw">
        <input type="password" id="pass" placeholder="enter password">
   <br>
        <br>
        <li type="none"><a href="">Forgot password ?</a></li>
        <br>
        <br>
        <div id="but">
        <input type="button" value="Submit" (click)="submitdata($event)">
    </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="card" id="card2">
    <div class="card-body">
        <h4>New to Job seekers</h4>
        <br>
        <div id="bute">
            <input type="button" value="Register with Us">
        </div>
    </div>

  </div>
  <br>
  <br>
  <br>
  <app-footer></app-footer>