<br>
<div id="bhan">
    <h3>Job seekers look and apply for jobs</h3>
    <br>
    <br>
    <p>Job seekers who are actively job hunting generally focus on searching through online job sites and platforms. Depending on the type of role they are interested in, they might use a generalist job search site with job posts in all fields or a specialist job board targeted to specific skills or industries. </p>
    <br>
    <p>Most online job boards make it easy for job seekers to narrow their searches with filters for keywords, job title, experience level, location, salary range, and more. Job seekers can often set up alerts and get notified of new job posts meeting their criteria. Most online job boards also make it easy for job seekers to create an account and upload a resume and apply directly from the job description page. </p>
    <br>
    <br>
    <p>Job seekers are increasingly using mobile devices to search and apply for jobs. Job boards that are mobile-friendly or have a downloadable app have the advantage over other sites less conducive to mobile recruiting.  

    </p>
</div>
<br>
<div id="bhan1">
    <h4>Where do passive job seekers look for opportunities?</h4>
    <br>
    <br>
    <p>Since passive job seekers are not actively looking for a job, they are likely to casually browse opportunities or company profiles where they are spending their free time. These job seekers are typically more engaged by social recruiting efforts on platforms like Facebook, Instagram, or LinkedIn. Those in the tech sector spend time networking on GitHub or Stack Overflow while designers are on Dribbble or Behance. </p>
</div>

